<article class="panel panel default col-md-offset-4 col-md-4" ng-repeat="movie in movies">

  <div>
  <!-- <p ng-show="!movie.found">MOVE NOT FOUND</p> -->
    <h2>{{movie.Title}}</h2>
    <a href="/details/{{movie.id}}"><img ng-src="{{movie.Poster}}" alt="Poster"></a>
    <p>{{movie.Year}}</p>
    <p>Rating:{{movie.Rated}}</p>
    <p>Director: {{movie.Director}}</p>
    <p>Cast: {{movie.Actors}}</p>
    <p>Genre: {{movie.Genre}}</p>
    <p>Plot: {{movie.Plot}}</p>
    <p>IMDB Rating: {{movie.imdbRating}}</p>
    <p>{{movie.date}}</p>
    <p><mb-vote></mb-vote></p>
  </div>
  <hr>
</article
