<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="UTF-8">
  <title>Data Binding</title>
<link rel="stylesheet" media="screen" title="no title" charset="utf-8" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

</head>
<body>
<div class="container">
  <h1>Data Binding</h1>

    <h3>My favorite comic book is : <span ng-bind="comicbook"></span> about {{subject}}</h3>
    <div class="row">
      <div class="six colums">

    <label for="comicbook">My favorite comic book</label>
      <input class="u-full-width" type="text" ng-model="comicbook"></input>
    </div>
  </div>
<div class="row">

  <div class="six columns">
      <label for="subject">Subject</label>
      <select class="u-full-width" id="subject" ng-model="subject">
        <option value="xmen">xmen</option>
        <option value="calvin and hobbes">calvin and hobbes</option>
        <option value="tmnt">tmnt</option>
      </select>
    </div>
    </div>
</div>

</body>
</html>
